.App {
  margin: 0 100px;
  /* width: 800px; */
}

.TopBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  flex-wrap: wrap;
}

.MidBtn {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.LowerBtn {
  display: flex;
  margin-top: 60px;
}

header h1 {
  font-family: 'Poppins' sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: #4f4f4f;
}

footer {
  /* text-align: center; */
  font-family: 'Montserrat' sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  margin: 100px 0 20px 0;
}
